# Ignore node_modules and other unnecessary files
node_modules
npm-debug.log
yarn-error.log

# Ignore logs and temp files
logs
*.log
tmp

# Ignore environment files
.env

# Ignore build files
dist
build

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore OS-specific files
.DS_Store

# Ignore version control files
.git
.gitignore

